name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # Setup .NET SDK
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 9.0.x

      # Restore dependencies
      - name: Restore dependencies
        run: dotnet restore D:\GREENWICH\AMD201\CW\URLShortenMVC_Nghi

      # Build project
      - name: Build
        run: dotnet build --configuration Release --no-restore D:\GREENWICH\AMD201\CW\URLShortenMVC_Nghi

      # Run tests
      - name: Test
        run: dotnet test --no-build --verbosity normal D:\GREENWICH\AMD201\CW\URLShortenMVC_Nghi

      # Upload artifacts
      - name: Publish Artifact
        uses: actions/upload-artifact@v3
        with:
          name: URLShortenerBuild
          path: ./URLShortenMVC_Nghi/URLShortenMVC_Nghi/bin/Release
